<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">

    {{- partial "head.html" . -}}

    <body id="{{ with .File }}{{ .TranslationBaseName }}{{ end }}">

        {{- partial "header.html" . -}}

        <div id="content">
            {{ if .Page.Title }}
                <h1>{{ .Page.Title }}</h1>
            {{ end }}

            {{- block "main" . }}{{- end }}
        </div>

        {{- partial "footer.html" . -}}

        {{ with $JS := resources.Get "js/main.js" | js.Build (dict "minify" true) | fingerprint }}
            <script src="{{ $JS.RelPermalink }}" integrity="{{ $JS.Data.Integrity }}"></script>
        {{ end }}

    </body>
    
</html>
