<head>
    {{ if .Page.Title }}
    <title>{{ .Page.Title }} - {{ .Site.Title }}</title>
    {{ else }}
    <title>{{ .Site.Title }}</title>
    {{ end }}

    <base href="{{ .Site.BaseURL }}">
    <link rel="canonical" href="{{ .Permalink }}">

    <meta charset="utf-8">
    <meta name ="description" content="{{ .Site.Params.description }}">
    <meta name="keywords" content="{{ .Site.Params.keywords }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">

    <link rel="icon" href="">
    <link rel="apple-touch-icon" href="" />

    {{ with $CSS := resources.Get "sass/main.scss" | resources.ToCSS (dict "outputStyle" "compressed") }}
        <style type="text/css">{{ .Content | safeCSS }}</style>
    {{ end }}

    <script type="text/javascript">
        var baseURL = "{{ .Site.BaseURL }}";
    </script>
</head>